.venv/
__pycache__/
.ipynb_checkpoints/
artifacts_quick/*
artifacts_full/*
!artifacts_quick/plots/
!artifacts_quick/plots/*_interactive.html
!artifacts_full/plots/
!artifacts_full/plots/*_interactive.html
test_zum_pipeline_report.ipynb
mlruns/
.vscode/
zum_pipeline_report_copy.ipynb
.DS_Store
